h1 {
  display: block;
  font-weight: 700px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #155967;
  line-height: 26px;
  top: 20px;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-family: Arial, Helvetica, sans-serif;
  color: #79a2aa;
  font-size: 15px;
  font-weight: 100;
  height: 20px;
  list-style: none;
  line-height: 5;
  left: 20px;
}

.WeatherApp {
  position: relative;
  max-width: 500px;
  padding: 12px;
  margin: 10px auto;
  background-color: #e0eff3;
  border: #155967 solid 1px;
  border-radius: 20px;
}
.degreesDay {
  color: black;
  font-weight: 500;
  font-size: 60px;
  line-height: 2;
  position: relative;
  left: 10px;
}
.degreesNight {
  color: black;
  font-weight: 500;
  font-size: 27px;
  opacity: 0.3;
}
.Sun-icon {
  height: 70px;
  width: 70px;
  position: relative;
  top: -20px;
  right: -10px;
}
.Other-properties {
  position: relative;
  right: -80px;
}
.search-weather {
  display: inline-block;
  max-width: 400px;
  margin-bottom: 20px;
  margin-top: 10px;
  left: 200px;
}
i {
  color: #155967;
}
.col-2 {
  font-weight: 800;
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: 1;
  top: 20px;
}
.DayTemperature {
  color: #155967;
}
.NightTemperature {
  opacity: 0.5;
}
.five-Days-forecast {
  position: relative;
  left: 40px;
}
